<div id="home">
  <div id= "time">
    <p><span id="clock-time">{{time}}</span></p>
  </div>
  <div id="topicon">
      <img src="{{dobuleClickIcon}}" alt="" />
  </div>

  <div id="lefticon">
      <img style="border-radius: 50%;" src="{{contactIcon}}" alt="" />
  </div>

  <div id="righticon">
      <img style="border-radius: 50%;" src="{{mapIcon}}" alt="" />
  </div>

  <div id="cross">
      <img  src="{{appsIcon}}" alt="" />
  </div>
</div>
